.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.lineChartsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 3%;
}

.graphsRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.pieWrapper, .barWrapper, .doughnutChartContainer, .ticketDetailsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 340px; /* Asegura que todos los gráficos tengan la misma altura */
    transition: transform 0.3s ease; /* Animación suave al interactuar */
}
.pieWrapper:hover, .barWrapper:hover, .doughnutChartContainer:hover, .ticketDetailsWrapper:hover {
    transform: scale(1.02); /* Pequeño zoom al hacer hover */
}

.pieWrapper, .barWrapper, .doughnutWrapper, .ticketDetailsWrapper {
    max-width: 400px;
}
