.tableContainer {
  width: 70%; /* Reduce el ancho a 75% */
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.header a {
  font-size: 14px;
  color: #0070f3;
  text-decoration: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
}

.table th {
  font-size: 14px;
  color: #888;
  border-bottom: 1px solid #ddd;
}

.table td {
  font-size: 14px;
  color: #333;
}
