.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    background-color: #f8f9fa;
    border-right: 1px solid #e0e0e0;
    padding: 16px 0;
    height: 100vh;
    position: fixed;
    margin-top: calc(-60px - 3%);;
}

.navItem {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem img {
    width: 32px;
    height: 32px;
}