.pieChartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}

.pieWrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
}

@media (max-width: 768px) {
    .pieChartContainer {
        max-width: none;
        width: 90%;
    }

    .pieWrapper {
        height: 200px;
    }
}
