.listadoEmpleados {
  width: 100%;
}

.empleadoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.empleadoInfo {
  flex: 1; /* Asegura que todas las columnas ocupen el mismo ancho */
  text-align: left; /* Alinea el texto a la izquierda */
}

.empleadoInfo span {
  display: block;
  width: 100%; /* Distribuye el texto en todo el espacio de la columna */
}

.columna {
  flex: 1; /* Distribuye equitativamente las columnas */
  text-align: left; /* Alinea el texto a la izquierda para consistencia */
}
