.fullScreen {
  display: flex;
  height: 100vh;
  background: #fff; /* Fondo completamente blanco */
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 0 80px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04174f;
  border-radius: 20px; /* Bordes redondeados */
  width: 40%;
  height: 90vh;
  margin: auto 40px;
}

.logoContainer img {
  width: 70%;
  max-width: 400px;
}

.label {
  font-weight: bold;
  color: #333;
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-size: 16px;
}

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 16px;
}

.input:focus {
  border-color: #0056b3;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.loginButton {
  background-color: #000;
  margin-bottom: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.loginButton:hover {
  background-color: #333;
  transform: translateY(-2px);
}

.footer {
  text-align: center;
  margin-top: 30px;
  color: #333;
  font-size: 14px;
}

.footer p {
  margin: 0;
  opacity: 0.8;
}
