.tituloEmpleados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  font-size: 14px;
}

.columna {
  flex: 1; /* Asegura que las columnas tengan el mismo tamaño que en ListadoEmpleados */
  text-align: left; /* Alinea el texto de los encabezados a la izquierda */
}
