.configuracionContainer {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.opcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.opcion:last-child {
    border-bottom: none;
}

.opcion:hover {
    background-color: #f0f0f0;
}

.opcion span {
    font-size: 16px;
    color: #333;
}

.arrow {
    font-size: 18px;
    color: #999;
}
/* Agregar esto a tu CSS existente */
.logoutContainer {
    padding: 15px 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    background-color: white;
}

.logoutButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutButton:hover {
    background-color: #ff1a1a;
}
