.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.header h1 {
    padding-left: 3rem;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    width: 35px;
    height: 35px;
    margin-left: 16px;
}
